<!DOCTYPE html>

<html ng-app ="todoApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AngularJs</title>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/Scripts/Home/TodoScript.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-theme.min.css" />
</head>
<body ng-controller="ToDoCtrl">
    @RenderBody()
</body>
</html>